<h1 class="title">Organs Donation Fill up Form</h1>
<div class="card">
    <form (submit)="onSubmit(fillup)" #fillup="ngForm">
        <h3>Fullname: <input name="fullname" [(ngModel)]="inf.fullname" required #fullname="ngModel" /></h3>
        <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="alert alert-danger"></div>
        <div *ngIf="fullname.touched && !fullname.valid">Name is required!</div>
        <div>
            <h3>Gender: <select ngModel name="gender" required [(ngModel)]="inf.gender" #gender="ngModel" >
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select></h3>
        </div>
        <div>
            <h3>Address: <input [(ngModel)]="inf.addresses" name="addresses" required #addresses="ngModel" /></h3>
            <div *ngIf="addresses.invalid && (addresses.dirty || addresses.touched)" class="alert alert-danger"></div>
            <div *ngIf="addresses.touched && !addresses.valid">Address is required</div>
        </div>
        <div>
            <h3>Contact Number <input type="tel" [(ngModel)]="inf.contact" name="contact" #contact="ngModel" pattern="[0-9]{4}-[0-9]{3}-[0-9]{4}"
                    required><span> Format: 0923-161-5542</span></h3>
            <div *ngIf="contact.invalid && (contact.dirty || contact.touched)" class="alert alert-danger"></div>
            <div *ngIf="contact.touched && !contact.valid">Your contact number is required for emergency purposes</div>
        </div>
        <div>
            <h3>Date of Birth: <input type="date" [(ngModel)]="inf.date" name="date" required #date="ngModel" /></h3>
        </div>
        <div>
            <h3>Age: <input type="number" [(ngModel)]="inf.age" name="age" required #age="ngModel" /></h3>
        </div>
        <div>
            <h3>Email: <input ngModel name="emails"  [(ngModel)]="inf.emails" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    #emails="ngModel" /> Format: ...@gmail.com</h3>
            <div *ngIf="emails.invalid && (emails.dirty || emails.touched)" class="alert alert-danger"></div>
            <div *ngIf="emails.touched && !emails.valid">Email is required!</div>

        </div>
        <div>
            <h3>Religion: <input name="religion" [(ngModel)]="inf.religion" name="religion" required #religion="ngModel" /></h3>
        </div>
        <div>
            <h3>Organs to donate: <select ngModel name="organs" #organs="ngModel"  required [(ngModel)]="inf.organs">
                    <option value="Eye Only">Eye</option>
                    <option value="Heart Only">Heart</option>
                    <option value="Kidney Only">Kidney</option>
                    <option value="Eye and Heart Only">Both Eye and Heart</option>
                    <option value="Eye and Kidney Only">Both Eye and Kidney</option>
                    <option value="Heart and Kidney Only">Both Heart and Kidney</option>
                    <option value="All">All</option>


                </select></h3>

        </div>
        

        <button class="btn" [disabled] = !fillup.form.valid>Submit</button>
    </form>


</div>

<app-result (childEvent)="onEdit($event)" [listOfInfoChild]="listOfInfo" ></app-result>