.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    padding: 2px 16px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 150px; */
    border-style: double;
    border-color: black;
    color:black;
    background-color:powderblue;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.btn{
    color:black;
    border-radius: 10px;
    border-color: black;
    background-color: powderblue;
}
.title{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.5s;
    width: 40%;
    border-radius: 5px;
    padding: 5px 20px;
    margin-left: auto;
    margin-right: auto;
}